<div class="card bg-info">
  <div class="card-header text-bg-primary p-2">
    <h3>Folio: {{reporte.id}}</h3>
  </div>
  <div class="card-body bg-info">
    <form action="/edit/{{reporte.id}}" method="post" enctype="multipart/form-data">
      <div class="input-group mb-3">
        <label for="fecha" class="input-group-text bg-secondary">FECHA Y HORA</label>
        <input
          type="text"
          class="form-control"
          name="fecha"
          value="{{reporte.fecha}}"
          id="fecha"
          aria-label="Disabled input example"
          disabled
        />
      </div>
      <div class="input-group mb-3">
        <label for="adscripcion" class="input-group-text bg-secondary">ADSCRIPCION /<br> FACULTAD</label>
        <input
          type="text"
          class="form-control"
          name="adscripcion"
          value="{{reporte.adscripcion}}"
          id="adscripcion"
          required
        />
      </div>
      <div class="input-group mb-3">
        <label for="usuario" class="input-group-text bg-secondary">USUARIO</label>
        <input
          type="text"
          class="form-control"
          name="usuario"
          id="usuario"
          value="{{reporte.usuario}}"
          required
        />
      </div>
      <div class="input-group mb-3">
        <label for="problema" class="input-group-text bg-secondary">PROBLEMA</label>
        <textarea
          class="form-control"
          name="problema"
          id="problema"
          rows="3"
          required
        >{{reporte.problema}}</textarea>
      </div>
      <div class="input-group mb-3">
        <label for="solucion" class="input-group-text bg-secondary">DIAGNOSTICO /<br> SOLUCION</label>
        <textarea
          class="form-control"
          name="solucion"
          id="solucion"
          rows="3"
          required
        >{{reporte.solucion}}</textarea>
      </div>
      <div class="input-group mb-3" id="campoUser">
        <label for="atendio" class="input-group-text bg-secondary">ATENDIO</label>
        <input
          type="text"
          class="form-control"
          value="{{reporte.id_atendio}}"
          name="id_atendio"
          id="atendio"
        />
      </div>
      {{!-- <div class="input-group mb-3">
        <label for="atendio" class="input-group-text">ATENDIO</label>
        <select
          class="form-select"
          name="atendio"
          id="atendio"
          aria-label="Default select example"
          required
        >
          <option
            value="{{reporte.atendio}}"
            selected
          >{{reporte.atendio}}</option>
          <option value="LILIA FABIOLA MONTES CAMPOS">LILIA FABIOLA MONTES
            CAMPOS</option>
          <option value="JOSE DE JESUS RAMIREZ BOCANEGRA">JOSE DE JESUS RAMIREZ
            BOCANEGRA</option>
          <option value="FERNANDO RAMIREZ BOCANEGRA">FERNANDO RAMIREZ BOCANEGRA</option>
          <option value="LEONARDO SANCHEZ CABRERA">LEONARDO SANCHEZ CABRERA</option>
          <option value="JOSE RODOLFO RESENDIZ HERRERA">JOSE RODOLFO RESENDIZ
            HERRERA</option>
          <option value="VICTOR HUGO GONZALEZ VILLEGAS">VICTOR HUGO GONZALEZ
            VILLEGAS</option>
          <option value="JOSE DE JESUS REYES CASTAÑOL">JOSE DE JESUS REYES
            CASTAÑOL</option>
          <option value="ARTURO MENDEZ VAZQUEZ">ARTURO MENDEZ VAZQUEZ</option>
          <option value="ARTURO CORONA BELTRAN">ARTURO CORONA BELTRAN</option>
          <option value="LUIS FERNANDO BARCENAS JIMENEZ">LUIS FERNANDO BARCENAS
            JIMENEZ</option>
          <option value="EDGAR IGNACIO GARCIA AVILES">EDGAR IGNACIO GARCIA
            AVILES</option>
        </select>
      </div> --}}
      <div class="input-group mb-3">
        <label for="estado" class="input-group-text bg-secondary">STATUS</label>
        <select
          class="form-select"
          name="estado"
          id="estado"
          aria-label="Default select example"
          required
        >
          <option
            value="{{reporte.estado}}"
            selected
          >{{reporte.estado}}</option>
          <option value="ATENDIDO">ATENDIDO</option>
          <option value="PROCESO">PROCESO</option>
          <option value="PENDIENTE">PENDIENTE</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <input class="form-control" type="file" name="evidencia" id="evidenciaInput">
      </div>

      <div class="d-flex justify-content-center" id="dBtnEnviar">
        <a href="/reportes" class="btn btn-primary m-2">Regresar</a>
        <button
          type="submit"
          class="btn btn-primary m-2"
          onclick="handleReload()"
        >Actualizar</button>
      </div>
    </form>
    {{!-PENDIENTE FIRMA}}
    {{!-- <div class="row">
      
       <div class="col-md-6">
        <canvas id="signCanva" width="620" height="160">
          Firma Evidencia
        </canvas>
        <div class="mt-2">
          <button class="btn btn-primary" id="submitBtn">Añadir firma</button>
          <button class="btn btn-secondary" id="clearBtn">Limpiar</button>
        </div>
      </div>
      <div class="col-md-4">
        <img id="preSign" src="" alt="Firma obtenida!" />
      </div>-

    </div> --}}
    <div class="d-flex justify-content-end">
        {{!Abre el modal que contiene la imagen}}
        <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Ver imagen
        </button>
        <button class="btn btn-primary m-2" onclick="generatePDF()"><i class="bi bi-filetype-pdf">
          Exportar PDF</i>
        </button>
    </div> 
 <hr style="color: #ffffff;">
    <div class="d-flex justify-content-center">
      <img class="container-fluid" style="width: 45%;" src="/images/logos.png">
    </div>


{{!Modal para mostrar la imagen de evidencia}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-info">
      <div class="modal-header bg-primary text-white">
        <h1 class="modal-title fs-5" id="exampleModalLabel">folio: {{reporte.id}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-info">
        <img src="/images/evidencias/{{reporte.evidencia}}" alt="Imagen de evidencia" class="img-fluid" id="imgEvidencia">
      </div>
      <div class="modal-footer bg-info">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
  
  </div>
</div>